.dashboard-card {
  cursor: pointer;
  width: 350px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  transition: transform 0.3s ease;
}

.dashboard-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  color: #ffffff;
  flex-direction: column; 
}

.dashboard-card-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column; 
}

.dashboard-card-icon {
  font-size: 3.5rem;
  color: white;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.6));
  flex-shrink: 0;
}

.dashboard-card-text {
  display: flex;
  flex-direction: column;
}

.dashboard-card-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.dashboard-card-subtitle {
  margin-top: 0.25rem;
  font-size: 1rem;
  opacity: 0.8;
}

.dashboard-card-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.dashboard-card-button:hover {
  background-color: #333;
}
